

  .imageSlider{
    overflow: hidden;
    position:absolute; 
    height: 15em;
    width: 100%;
    z-index: 1;
  }
  
  .imageSlider img {
 
    object-fit: fill;
    height: 15em;

    width: 100%;
}

