  .imageSlider{
    overflow: hidden;
    position:absolute; 
    height: 15em;
    width: 100%;
    z-index: 1;
  }
  
  .imageSlider img {
 
    object-fit: fill;
    height: 15em;
    outline: none !important;
    border: none !important;
    width: 100%;
}

.imageSlider img:focus, 
.imageSlider img:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

 