.container1 {
  
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 2px; 
    width: 100%; 
  }
  
  .one {
    background-color: lightblue; 
    padding: 10px;
  }
  
  .sinup {
    background-color: transparent; 
    padding: 40px;
    margin:10px 15px;
    border-radius: 10px;
  }

  .sinup .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

 
  .loginbutton{
    color:blue
  }
  .error-display{
    color: red;
  }
   
  input {
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 5px;
  }
  input:focus {
   
    border-color: #28a745;
    border-width: 1px;
    outline: none;
  }
  .login-btn{
    color: blue;
    border: 0;
    background-color: transparent;
    margin-bottom: 10px;

  }